.card-container {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    color: hsl(0, 0%, 0%);
    min-height: 14em;
    max-height: 14em;
    max-width: 20em;
    border: 2px solid hsl(0, 0%, 0%);
    padding: .5em;
    margin: .5em; 
    
}
.card-img-holder{
    background-color: #d9d9d9;
    max-width: 95%;
    min-width: 95%;

    min-height: 40%;
    max-height: 40%;
    
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.card-img{
    margin-top: auto;
    margin-bottom: auto;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 6em;
    min-height: 8em;
    min-width: 6em;
    max-width: 8em;
}

.card-item{
    font-size: 1.25em;
    text-align:center;


}
.card-order{
    text-align: center;
    font-size: 1.25em;
}

.card-pop-container {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    color: hsl(0, 0%, 0%);
    max-height: 28em;
    max-width: 24em;
    border: 2px solid #000000;
    padding: 5%;
    margin: 5%;
}

.card-pop-img-holder{
    background-color: #ffffff;
    max-width: 95%;
    max-height: 20em;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}
.card-pop-img{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 70%;
    max-width: 70%;
    border-width: 300%;
    border-style: solid;
    border-color: #d9d9d9;
}
.card-pop-item{
    text-align: left;
    font-size: 1em;
}

h5{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 2%;
  }

.card-pop-price{
    padding-left: 8%;
    text-align: left;
    font-size: 100%;
}
.card-pop-quantity {
    background-color: #cfcfcf;
    padding: 2% 4%;
    margin: 2%;
    float: left;
    line-height: normal; 
    border-radius: 12%;
    display: flex;
    align-items: center; 
}
.card-pop-custom {
    background-color: #cfcfcf;
    height: 20%;
    width: 40%;
    float: right;
    line-height: 200%;
    vertical-align: middle;
    border-radius: 7px;
    line-height: 1;
    padding: 2%; 
    margin: 2%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.button#plus{
    background-color: #cfcfcf;
    float: right;
}

.button#minus{
    background-color: #cfcfcf;
    float: left;
}

button{
    outline: 0;
}
.card-pop-add{
    background-color: #cfcfcf;
    height: 10%;
    width: 100%;
    line-height: 200%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
.card-pop-descrip{
    height: 25%;
    width: 100%;
    line-height: 400%;
    vertical-align: middle;
    text-align: center;
    clear: both;
}
.card-pop-order{
    text-align: center;
}

.Google_Map {
    height: 400px;
}
